.THIS {
} 

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 64.8%;
  height: 2px;
  background-color: #fe5815;
}
  
.THIS .firstLine {
  max-width: 700px;
  margin: auto;
}

/*buttons*/
.THIS label { 
  width: 200px;
  height: 100px; 
} 

.THIS .btnElectricity img {
  height: 37px;
  margin-top: 19px;
  margin-bottom: 12px;
}

.THIS .btnGas img {
  height: 34px;
  margin-top: 21px;
  margin-bottom: 13px;
}
.THIS .btnCentralHeating img {
  height: 23px;
  margin-top: 29px;
  margin-bottom: 16px;
}
.THIS .btnSolarEnergy img {
  height: 51px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.THIS .btnOther img {
  height: 8.3px;
  margin-top: 36.9px;
  margin-bottom: 23.8px;
}

@media (max-width: 800px) {
  .THIS .firstLine {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 356px){
  .THIS .firstLine {
    width: 100%;
    margin: auto;
  }
}