.THIS {
}
.THIS.whiteBlock { 
    /* height: 269px; */
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 48px;
    padding-bottom: 20px;
}
.THIS.whiteBlockButton { 
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    border-top: none;
    padding-top: 5px;
    white-space: nowrap;
}
.THIS.whiteBlock .whiteBlockImgContainer {
    margin-bottom: 20px;
}

h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
    text-transform: uppercase;
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}

.THIS .date, .THIS .nextBill.nextDate{
  font-family: HouschkaPro-Medium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  color: #b5b6b7;
  text-transform: uppercase;
}

.THIS .txtNextDate{
  font-family: HouschkaPro-Medium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  color: #b5b6b7;
}

.THIS .amount{
  font-family: HouschkaPro-Medium;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.44;
  color: #3f3830;
  margin-top: 20px;
  margin-bottom: 27px;
}
.THIS .longamount{
  font-family: HouschkaPro-Medium;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.44;
  color: #3f3830;
  margin-top: 20px;
  margin-bottom: 27px;
}


.THIS .imgShadow{
  margin-bottom: 27px;
  width: 54px;
  height: 9px;
}

.THIS .pay{
  height: 28px;
  /*margin-bottom: 21px;*/
}