.THIS {
}
.THIS .inputAddrContainer {
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}
.THIS span.inputAddrLabel {
    position: absolute;
    top: 6px;
    left: 6px; 
    background: white;
    color: #aeafb2;     
    border-radius: 4px;
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 10px; 
}

.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    margin-left: 0;
    margin-right: 0;
    padding: 40px;
    margin-top: 7px;
}
.THIS.whiteBlock .row{
    margin-left: 0;
    margin-right: 0;
}

h2.THIS{
  font-family: HouschkaPro-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  color: #b5b6b7;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 20px;
}

.THIS .civilityText{
  font-family: HouschkaPro-DemiBold;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  color: #3f3830;
  margin-right: 25px;
}

.THIS .labelTitle{
  font-family: HouschkaPro-Medium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.43;
  color: #3f3830;
}

.THIS input[type="radio"]:checked + label{
  width: 105px;
  height: 30px;
  opacity: 0.37;
  border-radius: 4px;
  background-color: #e8e9ec;
  padding-left: 20px;
}

.THIS label{
  padding-left: 10px;
  padding-right: 14px;
  border-radius: 4px;
}

.THIS label #m, .THIS label #mme{
  width: 105px;
  height: 30px;
}

.THIS .txt{
  margin-left: 10px;
  margin-right: 2px;
}

/*styling the radio buttons*/
.THIS input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.THIS input[type="radio"] + .radio{
  border: 1px solid #333;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: solid 1px #fe5815;
}

.THIS input[type="radio"]:checked + .radio {
  background-color: #fe5815;
  box-shadow: inset 0 0 0 3px white, 0 0 0 0 #fe5815;
}

.THIS span.radio {
    vertical-align: bottom;
    /*top: -3px;*/
}

/*input text*/
.THIS input[type="text"]:disabled {
	color: #a3a3a3;
	background-color: #f6f7f8;
}


.THIS input[type="text"], .THIS input[type="tel"], .THIS input[type="email"]{
  height: 53px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e8e9ec;
  margin-top: 14px;
  padding-left: 20px;
  margin-right: 20px;
}

.THIS input[type="text"]:focus, .THIS input[type="tel"]:focus, .THIS input[type="email"]:focus{
  border: solid 1px #fe5815;
  outline: none !important;
}

.THIS .inputName{
  margin-top: 15px;
  margin-left: 40px;
}

.THIS input::-webkit-input-placeholder, .THIS input:-moz-placeholder, .THIS input:-ms-placeholder {
  font-family: HouschkaPro;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  color: #b5b6b7;
}

.THIS .small{
  width: 120px;
}

.THIS .medium{
  width: 260px;
}

.THIS .medium2{
	max-width: 400px;
	width: 100%;
}

.THIS .large{
 	max-width: 540px;
 	width: 100%;
}

/* add and cancel buttons */
.THIS .btnAdd{
  width: 124px;
  height: 42px;
  border-radius: 100px;
  background-color: #fe5815;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 39px !important;
  margin: auto;
  display: block;
}

.THIS .btnAdd:hover{
  outline: none !important;
}

.THIS a .btnCancel{
  font-family: HouschkaPro-Bold;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: center;
  color: #fe5815;
  margin: auto;
  display: block;
  border: 0px !important;
  background-color: #ecf1f5;
  margin-top: 27px;
}

.THIS a, .THIS a:hover{
  text-decoration: none
}

@media (min-width: 992px){
    .THIS.whiteBlock.row {
        display: table;
        width: 100%;
    }
    .THIS.whiteBlock.row div[class*="col-"]{
        display: table-cell;
    }
    .THIS.whiteBlock.row div.col-100{
        width: 100%;
    }
}

@media(max-width:430px){
  .THIS .labelTitle{
    display: block;
    width: 110px;
  }

  .THIS input[type="text"]{
    width: 80%;
  }

  .THIS .civility, .THIS .inputName{
    margin-left: 10px;
  }
}