.THIS {
}


/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 86.4%;
  height: 2px;
  background-color: #fe5815;
} 

.THIS .zoneOne,  .THIS .zoneTwo {
  border-bottom: 2px solid #fe5815;
  width: 186px;
  margin: auto;
  margin-bottom: 39px;
}

.THIS .zoneTwo {
  margin-bottom: 60px;
}

.THIS .input {
  width: 120px !important;
  height: 40px !important;
}


.THIS input[type="text"]{
  border: none;
  height: 34px;
  padding-bottom: 5px;
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #6f6361;
  width: 60px;
}

.THIS .smallInput {
  width: 120px !important;
  height: 40px !important;
}

.THIS .unit {
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #6f6361;
}

.THIS .rectangle {
  width: 180px;
  border-top: 2px solid #fe5815;
  margin-top: 5px;
  margin-bottom: 39px;
}

.THIS input:-moz-placeholder, .THIS input::-webkit-input-placeholder {
  color: #e8e9ec !important;
}
 
.THIS .btnNoAC {
  background-color: #ffffff;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fe5815;
  margin-top: 45px;
  line-height: 1;
  margin-bottom: 45px !important;
}