.THIS .modal-dialog {
	width: 760px;
	height: 348px;
	top: 10px;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 0 50px 25px rgba(106, 106, 106, 0.33);
	margin: auto;
}
.THIS .numberoftelephone{
	color:#808080;
	font-size: 16px;
	font-family: arial;
	padding-top: 10px;
	font-weight: bold;
	padding-left: 9px;
}
.THIS .Annuler {
	height: 22px;
	font-family: HouschkaPro-Bold;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	text-align: center;
	color: #fe5815;
	color: var(--brand-color);
	display: block;
	margin-top: 60px;
}
.THIS .numero {
	margin-right: 271px;
	margin-left: 272px;
	text-align: center;
	margin:auto;
}
h2.THIS {
	font-family: HouschkaPro-Bold;
	font-size: 14px;
	color: #b5b6b7;
	color: var(--cool-grey-two);
}  
.THIS .serviceblock { 
	width: 90px;
	height: 20px;
	border-radius: 3px;
	margin-right: 193px;
	margin-left:400px;
	margin-top: 15px;
	border: solid 1px #e8e9ec;
	border: solid 1px var(--pale-grey);
	margin:auto;
}
.THIS .telephoneblock {
	width: 220px;
	height: 42px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #e8e9ec;
	border: solid 1px var(--pale-grey);
	margin-left: 260px;
	margin-right: 297px;
	padding-bottom: 37px;
	margin-top: 10px;
	vertical-align: center;
}
.THIS .werecallyou {
	width: auto;
	font-family: HouschkaPro-Medium;
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	text-align: center;
	color: #3f3830;
	color: var(--cool-grey-two);
	margin-left: 184px;
	margin-right: 184px;
}
.THIS .Tlphone {
	width: 55px;
	height: 20px;
	font-family: HouschkaPro;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	color: #b5b6b7;
	color: var(--cool-grey-two);
}
.THIS .blacktelephone{
	background-color: #696969;
	width: 110px;
	height: 42px;
	border: solid 1px #e8e9ec;
	border: solid 1px var(--pale-grey);
	z-index: 1;
	margin-top: -43px;
	margin-left: 120px;
	font-family: HouschkaPro-bold;
	padding-left: 5px;
	color: white;
}
 
.THIS .webcallback {
	font-family: HouschkaPro-bold;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: white;
	color: white;
	margin-left: 35px;
	text-align: center;
	position: center;
}
.THIS .layer {
	width: 96px;
	height: 20px;
	font-family: HouschkaPro;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	color: #3f3830;
	color: var(--greyish-brown);
}
.THIS .modifyslot {
	width: 600px;
	height: 46px;
	font-family: HouschkaPro-Light;
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.77;
	text-align: center;
	color: #3f3830;
	color: var(--greyish-brown);
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.THIS .blueblock {
	width: 758px;
	height: 42px;
	background-color: #f7fbfe;
	background-color: var(--duck-egg-blue);
	padding-bottom: 27px;
	box-sizing: border-box;
}

.THIS .top2 {
	width: 517px;
	height: 66px;
	font-family: HouschkaPro-bold;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	text-align: center;
	color: #3f3830;
	color: var(--greyish-brown);
	margin-left: 122px;
	margin-right: 121px;
}


.THIS a.Text-Style-OrangeLink {
	display: block;
	line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
	text-decoration: none;
	color: #fe5815;
	color: var(--brand-color);
}

@media (max-width: 767px){

	.THIS .werecallyou {
		font-family: HouschkaPro-Medium;
		font-size: 11px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.38;
		text-align: center;
		color: #3f3830;
		color: var(--cool-grey-two);
		margin-left: 10px;
		margin-right: 10px;
	}

	.THIS .modal-dialog {
		max-width: 80%;
		height: inherit;
	}
	.THIS .numberoftelephone{
		max-width: 80%;
	}
	.THIS .Annuler{
		display: block;    
		margin-left: auto;
	    margin-right: auto;
	}
	.THIS .serviceblock{
		max-width: 80%;
		margin:auto;
	}
	.THIS .blueblock{
		width: 100%;
	}
	.THIS .numero{
		max-width: 80%;
	}
	.THIS .blacktelephone{
		max-width: 80%; 
		display: block;
		font-size: 12px;
	}
	.THIS .orangeblock{
		max-height: 50%;
		max-width: 50%;
		margin:auto;
		margin-top: 40px;
		margin-bottom: 80px;
	}
	.THIS .telephoneblock{
		max-width: 70%;
		margin:auto;
	}
	.THIS .Tlphone{
		max-width: 80%;
	}
	.THIS .modifyslot{    
		font-size: 16px;
		max-width: 80%; 
		margin-left:auto;
		margin-right:auto;
	}
	.THIS .top2{
		max-width: 80%;
		font-size: 12px;
		margin:auto;
	} 
	.THIS .btnStart{
		height: 10%;
		font-size: 15px;
	}
}
@media (max-width: 350px){


	.THIS .werecallyou {
		max-width: 100%;
	}

	.THIS .blacktelephone{
		max-width: 40%;
		margin-top: -52px;
		font-size: 8px;
		margin-left: 75px;
	}
	.THIS .numberoftelephone{
		max-width: 30%;
		font-size: 10px;
		display: inline;
		padding-left: 10px;
	}
	.THIS .telephoneblock{
		max-width: 52%;
		margin:auto;
	}
	.THIS .btnStart{
		font-size: 10px;
	}
}