.THIS { 

}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 50.4%;
  height: 2px;
  background-color: #fe5815;
}
 
/*buttons*/
.THIS .btnMore, .THIS .btnLess {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  border: 0px
}

.THIS .btnMore img, .THIS .btnLess img {
  width: 50px;
  margin-top: -30px;
}

.THIS input[type="text"].uiInputNumber.inputNumberSmall {
  font-family: HouschkaPro-Medium;
  font-size: 58px;
  font-weight: 500;
  text-align: center;
  color: #3f3830;
  border: none;
  width: 112px;
  height: inherit;
  margin-left: 10px;
  margin-right: 0px;
  outline: none !important;
}

.THIS input:-moz-placeholder, .THIS input::-webkit-input-placeholder {
  color: #e8e9ec !important;
}

.THIS .btnValidate {
	margin-top: 66px!important;
}
  
@media (max-width: 800px) {
  .THIS label, .THIS span {
    width: 130px;
  }
 
}