.THIS {
}
.THIS.footer1 { 
	width: 80%; 
	min-height: 130px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px; 
	text-align: left;
    padding-top: 20px; 
    display: block;
} 
.THIS .titreFooter1 {
	height: auto;
    font-family: HouschkaPro-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22 ;
    color: #3f3830; 
    margin-bottom: 10px;
    display: block;
}
.THIS .footerFacebook, .THIS .footerTwitter, .THIS .footerYoutube {
   	max-width: 100%;
    height: auto;
} 
.THIS.footer1 .bloc {
	padding-left: 20px;    
	margin-left: 0px; 
	margin-right: 0px;    
	margin-bottom: 30px;
}
.THIS.footer2 .lienFooter2 {  
    white-space: nowrap;
}
.THIS .lien2Footer1 a {
    font-family: HouschkaPro-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #b5b6b7;
} 


/**Footer2**/
.THIS.footer2 {
    text-align: center;
    border-top: solid 1px rgba(150, 150, 150, 0.2);
    margin-left: 22px;
    margin-right: 22px;
    padding: 20px;
}

.THIS.footer2 .lienFooter2 a {
    font-family: HouschkaPro-Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: #3f3830;
    margin-right: 28px;
}

.THIS.footer2 .lienFooter2 a:hover {
    color: #6F6361;
}
  
.THIS .suivezNous .footerFacebook {
    width: 14.5px;
    height: 26px;
    margin-right: 25px;
    padding-top: 5px;
}

.THIS .suivezNous .footerTwitter {
    width: 27px;
    height: 22px;
    margin-right: 25px;
}

.THIS .suivezNous .footerYoutube {
    width: 27px;
    height: 19px;
    margin-right: 22px;
}

.THIS .suivezNous .footerInstagram {
    width: 23px;
    height: 23px;
    margin-right: 25px;
}

.THIS .suivezNous .blogContainer {
	margin-top: 5px;
}


@media (max-width: 767px) {
	.THIS .lienFooter2 {
		display: block;
	}
	.THIS.footer1 {
    	padding-left: 0px; 
	}
	.THIS.footer2 {
		padding: 20px!important;
	} 
	.THIS.footer2 .lienFooter2 a {
		margin-left: 0px!important;
	}
}