.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 28.8%;
  height: 2px;
  background-color: #fe5815;
} 

/*buttons*/
.THIS label { 
  width: 200px;
  height: 100px; 
}


.THIS input:-moz-placeholder, .THIS input::-webkit-input-placeholder {
  color: #e8e9ec !important;
}