<apex:page controller="SICo_EnergyProfile_VFC" showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
<html>
	<!-- head -->
	<head>
		<script>
			var jsAccountId = "{!JSENCODE(accountId)}";
            var jsCurrentPage = "{!$Label.SICo_Personal_Informations}"; 
			var isMobile = "{!JSENCODE($CurrentPage.parameters.isMobile)}"; 
			var init = function(){ head.load(
				"{!$Resource.JQuery3}",
				"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",
				"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
				"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
				"{!URLFOR($Resource.SICo_EnergyProfile13, 'js/LoadComponents.js')}"
			) }
		</script>

		<c:SICo_CommunitiesHead_COMP />

		<!-- Lightning Components -->
		<apex:includeLightning />
		<apex:includeScript value="/lightning/lightning.out.js" />
 
	</head>
	<body>
		<div class="loader"/>
		<div id="topbanner" style="{!IF($CurrentPage.parameters.isMobile != null, 'display: none;', '')}" />

		<div id="leftMenu" style="{!IF($CurrentPage.parameters.isMobile != null, 'display: none;', '')}" />
		<div id="contentContainer" class="container" style="background-color: white !important;">
			<div id="EnergyProfile_13"/>
		</div>
		<!-- HELP SECTION -->
		<div id="helpSectionXS" class="visible-xs col-xs-12" />
	</body>
</html>
</apex:page>