<apex:page showHeader="false" title="{!$Label.site.forgot_password_confirmation}">

  <head>
    <script>
      var init = function(){ 
        head.load(
          "{!$Resource.JQuery3}",
          "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}"
        )
      }

      $Lightning.use("c:SICo_TopBannerContainer", 
        function() {
          $Lightning.createComponent(
              "c:SICo_TopBanner",
              {
                  label : "TopBanner",
                  currentSection : "Espace Client"
              },
              "topbanner",
              function() {}
          );
        },
        '{!LEFT($CurrentPage.URL, FIND('.com', ($CurrentPage.URL)))}com'
      );
    </script>

    <c:SICo_CommunitiesHead_COMP />
    <c:SICo_CustomerArea_StyleSheets />

    <style>
        .mdpOublie3{
          color: #6f6361;
          font-family: HouschkaPro-Medium;
          font-size: 14px;
          float: left;
          margin-bottom: 30px;
          padding: 0px;
        }
        .btnStart{
          width: 200px;
          height: 32px;
          border-radius: 100px;
          background-color: #fe5815 !important;
          border: 0px !important;
          font-family: HouschkaPro-Bold;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.4px;
          text-align: center;
          color: #ffffff;
          display: block;
          margin:auto;
        }
        @media (max-width:767px){
        	.mdpOublie3{
        		margin-top: 10px;
        	}
        	.mdpOublie4Div{
          	font-size: 20px;
          	margin-top :50px;
          	display: block;
          }
          html{
            min-height: 500px;
          }
          .btnStart{
          	margin:auto;
          	display: block;
          }
        }
        @media (min-width:768px){
          #communitiesLogin.drupal{
            background-color: white;
          }
          #communitiesLogin .form.drupal{
            margin-top: 70px;
            height: auto !important;
            width: 480px !important;
          }
          #communitiesLogin .topLoginContentContainer.drupal{
              border-width: 1px;
              border-color: black;
              border-style: solid;
              padding-bottom: 30px;
              padding-top: 20px;
          }
          #communitiesLogin .centerLoginContentContainer.drupal{
            padding-left: 100px;
            padding-right: 100px;
          }
          #communitiesLogin .texteSeConnecter.drupal{
            color: black !important;
            float: initial !important;
            width: 
          }
          .btnStartContainer.drupal{
            margin-top: 20px;
          }
        }
    </style>

    <apex:includeLightning rendered="{!IF(($CurrentPage.parameters.isFromDrupal = 'true'), true, false)}"/>
  </head>

  <body id="communitiesLogin" class="{!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'drupal','')}">

    <div id="topbanner"/>

    <apex:form styleClass="form {!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'drupal','')}" id="loginForm" forceSSL="true">
        
        <apex:outputPanel layout="block" styleClass="topLoginContentContainer {!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'drupal','')}" >

            <apex:outputPanel layout="block" styleClass="fondColore" rendered="{!IF(($CurrentPage.parameters.isFromDrupal = 'true'), false, true)}"/>

            <apex:outputPanel id="fieldLoginContainer" layout="block" styleClass="centerLoginContentContainer {!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'drupal','')}">

                <apex:outputText value="{!$Label.SICo_Thanks}" styleClass="texteSeConnecter drupal" rendered="{!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'true','false')}"/>

                <img class="logoBlanc" src="{!URLFOR($Resource.SICo_EspaceClient_Resources,'img/logoSoweeWhite/logoSoweeWhite@2x.png')}"/>

                <apex:outputPanel layout="block" styleClass="mdpOublie4Div col-xs-12 col-sm-12">
                    <apex:outputText styleClass="loginMdp mdpOublie3 col-xs-12 col-sm-12">{!$Label.SICo_ResetPassword}</apex:outputText>
                </apex:outputPanel>
               
            </apex:outputPanel>

            <div class = "btnStartContainer {!IF(($CurrentPage.parameters.isFromDrupal = 'true'),'drupal','')}">
              <a class = "btnStart" href="{!'CommunitiesLogin'}">{!$Label.SICo_Label_Login_Button}</a>
            </div>
             
        </apex:outputPanel>

    </apex:form>
  </body>

</apex:page>