<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" controller="SICo_QuoteDetail_VFC">
    <html>
        <head>          
        	<apex:stylesheet value="{!URLFOR($Resource.SICo_EspaceClient_Resources_QuoteDetail, 'css/SICo_EspaceClient_Resources_QuoteDetail.css')}"/>
           
            <script>
                var jsAccountId = "{!JSENCODE(accountId)}"; 
                var jsCurrentPage = "{!$Label.SICo_Contracts}";
                var jsQuoteId = "{!JSENCODE(quoteId)}"; 

                var init = function(){ 
                	head.load(
	                    "{!$Resource.JQuery3}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
						"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources_QuoteDetail, 'js/LoadComponents.js')}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}"
	                )
                }
            	
            </script> 
            <c:SICo_CommunitiesHead_COMP />
            <apex:includeLightning />

        </head>

 		<body id="quoteDetailBody">
            <div class="loader"/>
            <div id="topbanner" />

            <div id="pageWrapper">
                <div id="leftMenu" />

                <div id="contentContainer" class="container">
                	<div class="headerContainer">
	                    <h1 class="pageTitle col-xs-12">{!$Label.SICo_QuoteNumber}{!QuoteNumberById}</h1>
	                    <button onclick="window.print();" class="printButton">{!$Label.SICo_QuotePrint}</button>
                    </div>
                    <div id="quoteDetail" class="col-xs-12 col-md-12 col-lg-12"/>
                </div>

	            <!-- HELP SECTION -->
	            <div id="helpSectionXS" class="visible-xs col-xs-12" />
            </div>

        </body>
 	</html>
</apex:page>