<apex:page controller="SICo_UpdateBankDetails_VFC" showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
    <html>
        <!-- head -->
        <head>
			<style>
				iframe {
					width: 100%;
				}
				#zuora_payment {
					padding-left: 15px;
					padding-right: 15px;
				}
				@media (max-width: 767px) {
					#helpSectionXS .cSICo_HelpSection.sidebar-nav.helpSection {
						margin-top: 0px!important;
					}
					#helpSectionXS {
						width: calc(100% - 15px);
					}
				}
			</style>
			<script type="text/javascript" src="{!urlJS}"></script>
            <script>
            	var init = function(){ head.load(
                    "{!$Resource.JQuery3}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",
					"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}", 
                    function() {
                    	createGenericAppWithComponents();
                    }
                ) }

                /* Components attributes */
                var jsCurrentPage = "{!$Label.SICo_Personal_Informations}";
                var jsAccountId = "{!JSENCODE(accountId)}";

                Visualforce.remoting.Manager.invokeAction(
				    '{!$RemoteAction.SICo_UpdateBankDetails_VFC.processSignature}',
				    function(result, event){
				        var obj = JSON.parse(result);
				        var signature = obj['signature'];
				        var token = obj['token'];
				        var key = obj['key'];
				        var pageId = obj['pageId'];
				        var tenantId = obj['tenantId'];
				        loadHostedPage(tenantId, pageId, token, signature, key);
				    }, 
				    {escape: false}
				);

				function loadHostedPage(paramTenantId, paramPageId, paramToken, paramSignature, paramKey) {
					var prepopulateFields = {
						country:"FRA",
					};

					var params = {
						tenantId:paramTenantId,
						id:paramPageId,
						token:paramToken,
						signature:paramSignature,
						style:"inline",
						key:paramKey,
						submitEnabled:"true",
						locale:"fr_FR",
						url:"{!zuoraUrl}",
						paymentGateway:"SEPA"
						{!IF(AND(bankingAccountId != null, bankingAccountId != ''), ',field_accountId:"' + JSENCODE(bankingAccountId) + '"', '')}
					};

					Z.render(
						params,
						prepopulateFields,
						callback
					);
				}
				function callback(response) {
					var pRefId = response.refId;
					if(response.success) {
		                Visualforce.remoting.Manager.invokeAction(
						    '{!$RemoteAction.SICo_UpdateBankDetails_VFC.updateDefaultAndOldPaymentMethod}',
						    '{!accountId}',
						    pRefId,
						    function(result, event){
						    	if (result){
						    		var redirectUrl = 'PersonalInformations?AccountId={!accountId}';
						    		window.location.replace(redirectUrl);
						    	}
						    }, 
						    {escape: false}
						);
					}
					else {
						alert("errorcode="+response.errorCode + ", errorMessage="+response.errorMessage);
					}
				}
			</script>
            <c:SICo_CommunitiesHead_COMP />
            <apex:includeLightning />
		</head>
	    <body>

	    	<div class="loader"/>
            <div id="topbanner" />

            <div id="pageWrapper">
                <div id="leftMenu" />
               

                <div id="contentContainer" class="container">
                    <h1 class="pageTitle col-xs-12">Modifier mes informations bancaires</h1>
					<div id="zuora_payment" ></div>
				</div>
		        <!-- HELP SECTION -->
		        <div id="helpSectionXS" class="visible-xs col-xs-12" />
			</div> 
		</body>
	</html>
</apex:page>