.THIS {
}

.THIS .slds-modal__container{
  position: fixed;
  bottom: 0px;
  width: 260px;
}

.THIS .chat{
  background-color: white;
  box-shadow: 0 2px 9px 0 rgba(58, 104, 158, 0.23);
  border: solid 1px #e7e7e7;
}

		.THIS	.chat-header {
				color: white;
				background: #ff4a00;
				padding:10px;
				border-radius:4px 4px 0 0;
				line-height:20px;
				cursor:pointer;
			}

		.THIS	.chat-icon {
				display:inline-block;
				background-image:url('icon-chatenligne.png');
				width:20px;
				height:20px;
				margin:0 5px;
			    vertical-align: middle;
			}

		.THIS	.chat-title {
				display:inline-block;
				height:20px;
			    vertical-align: middle;
			}

		.THIS	.chat-close {
			  vertical-align: middle;
				position:absolute;
				height:20px;
				width:20px;
				right:5px;
			}

		.THIS	.chat.open .chat-close {
				display:inline-block;
			}

.THIS .chat-window{
  width: 260px;
  height: 300px;
  border: 0px;
}