.THIS {
}

.THIS.page {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 120%;
  height: 2px;
  background-color: #fe5815;
}
 
.THIS .text { 
}

.THIS .thanks {
  font-family: HouschkaPro-DemiBold;
  font-size: 45px;
  font-weight: 600;
  line-height: 0.93;
  color: #00ceaa;
  margin-top: 10vw;
  margin-bottom: 0px;
}

.THIS .text h2{
  width: 100%;
  font-family: HouschkaPro-DemiBold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.17;
  color: #3f3830;
  margin-top: 55px;
  margin-bottom: 21px;
}

.THIS .text1{
	width: 100%;
	font-family: HouschkaPro-Medium;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.38;
	color: #3f3830;
	max-width: 550px;
}

/*download app buttons*/
.THIS .btnApple {
  width: 120px;
  height: 41.5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 19px;
}

.THIS .btnGoogle {
  width: 120px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*start button*/
.THIS .btnHome {
  width: 221px;
  height: 42px;
  border-radius: 100px;
  background-color: #fe5815 !important;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30.5px;
  margin-right: 27px;
  margin-bottom: 20px;
}

.THIS .btnService {
  width: 233px;
  height: 42px;
  border-radius: 100px;
  background-color: #ffffff !important;
  border: 2px solid #fe5815 !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fe5815;
}

.THIS a {
  text-decoration: none !important;
}

.THIS button:focus {
  outline: none !important;
}

/*image phome*/
.THIS .phone {
  max-width: 412px;
  margin-top: 77px;
  width: 100%;
}

.THIS .imgPhone {
  text-align: center; 
}

.THIS .check {
  height: 57px;
  margin-bottom: 6px;
  margin-right: 26px;
}

.THIS .linkBtn {
	min-width: 265px;
}
.THIS .thanks {
	min-width: 265px;
}
 
.THIS .text1, .THIS .text2, .THIS .text h2{ 
	margin-left: 14px;
}

@media (max-width: 450px){ 
	.THIS.titleBlock h1{
		font-size: 26px;
	}

	.THIS .text1, .THIS .text2, .THIS .text h2{ 
		margin-top: 5px; 
	}
}
@media (max-width: 767px){ 
	.THIS .phone { 
		width: 35vw;
	}
	.THIS .thanks { 
		text-align: center;
	}
	.THIS .linkBtn, .THIS .btnEnd {
		text-align: center;
	}
	.THIS .text1, .THIS .text2, .THIS .text h2{ 
		text-align: center;   
		margin-left: 0px;
	}
}

@media (max-width: 991px){ 
	.THIS .thanks { 
	  margin-top: 0px; 
	}
}
@media (max-width: 1144px) and (min-width: 450px) {
  .THIS .btnService {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ff4a00;
    border: 0px !important;
    margin-top: 16px;
  } 
  .THIS .text1, .THIS .text2, .THIS .text h2{ 
    margin-top: 14px;
   	margin-left: 0px;
  }
}