.THIS {
}
.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
    /* height: 300px; */
}
.THIS.whiteBlock .whiteBlockImgContainer {
	min-height: 61px;
    margin-bottom: 20px;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Medium;
    font-size: 16px;
    color: #3f3830;
    color: var(--greyish-brown);
    margin-bottom: 2px;
}
.THIS.whiteBlock p.phone{
    margin-top: 10px;
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}