.THIS {
}

.THIS.page {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 72%;
  height: 2px;
  background-color: #fe5815;
}

/*buttons*/
.THIS label { 
  width: 200px;
  height: 100px; 
}
 
.THIS .btnElectricity img {
  height: 37px;
  margin-top: 19px;
  margin-bottom: 12px;
}

.THIS .btnGas img {
  height: 34px;
  margin-top: 21px;
  margin-bottom: 13px;
}

.THIS .btnOther img {
  height: 8.3px;
  margin-top: 24.5px;
  margin-bottom: 14.2px;
}
   

@media (max-width: 800px) {
  .THIS .btnNone .txtBtn {
    width: 113px;
  }
}