.THIS {
}
.THIS hr {
    margin-top: 13px;
    margin-bottom: 13px;
}
.THIS .progressContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    min-width: 100px;
}
.THIS .energyContainer {
    margin-bottom: 40px;
}
.THIS .energyPercent {
    line-height: 12px;
    width: 20%;
    float: right;
    padding-left: 2%;
}
.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #3f3830;
    color: var(--greyish-brown);
}
.THIS .progress {
    height: 12px;
    border-radius: 8px;
    border: solid 1px #e8e9ec;
    border: solid 1px var(--pale-grey);
    padding: 0;
    width: 78%;
    float: left;
    position: relative;
}
.THIS .progress .progress-bar{
    height: 6px;
    margin: 3px;
    border-radius: 8px;
    background-color: #fe5815;
    background-color: var(--brand-color);
}
.THIS.whiteBlock p.energyTitle {
    margin-bottom: 10px;
}
.THIS.whiteBlock p.dataCaption, .THIS.whiteBlock p.data {
    margin-bottom: 0;
}
.THIS.whiteBlock p.dataCaption, .THIS.whiteBlock p.energyTitle {
    font-family: HouschkaPro-Medium;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS.whiteBlock p.data {
    font-size: 16px;
}
.THIS.whiteBlock p span.including {
    font-size: 14px;
    font-family: HouschkaPro-Light;
    color: #3f3830;
    color: var(--greyish-brown);
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}
.THIS span.space:before {
    content: " ";
}