.THIS {
}
.THIS.blueBlock {
    width: 100%;
    min-height: 130px;
    background-color: #7aa8e9;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    display: flex;
    align-items: center;
}
.THIS.purpleBlock {
    width: 100%;
    min-height: 136px;
    background-color: #9071ea;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    margin-top: 10px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}
.THIS.whiteBlock { 
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7; 
    padding-top: 5px;
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS .imgContainer {
	padding-right: 15px; 
	padding-left: 15px;
}

.THIS .soweeContractImg {
    width: 60px;
    height: 60px; 
}
.THIS .maintenanceContractImg {
    width: 60px;
    height: 60px; 
}
.THIS .contractTitle {
    font-family: HouschkaPro-DemiBold;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    color: #ffffff;  
    margin-bottom: 0px;
}
.THIS .contractSubTitle {
    font-family: HouschkaPro-Medium;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: #ffffff;
    padding-left: 0;
    padding-top: 0;
    display: inline-block;
}
.THIS .spacer {
	margin-top: 10px;
}
.THIS .attestationLink {
    height: 34px;
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    color: #ffffff;
    text-decoration: underline; 
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
    white-space: nowrap;
}
.THIS .clearer {
	clear: both;
}

@media (max-width: 768px){
	.THIS.whiteBlock { 
		margin-top: 0px!important;
	}
}

@media (max-width: 318px){

    .THIS .contractSubTitle {
        padding-left: inherit;
        padding-top: inherit;
    }

    .THIS.blueBlock {
        height: 165px;
    }

}