.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 21.6%;
  height: 2px;
  background-color: #fe5815;
} 

.THIS .btnRoof img {
  width: 46px;
  height: 35px;
  margin-bottom: 14px;
}

.THIS .btnRoof .txtBtn {
  width: 116px;
  margin: auto;
}

.THIS .btnFloor img {
  width: 46px;
  height: 49px;
  margin-bottom: 19px;
}

.THIS .btnVeranda img {
  width: 68px;
  height: 36px;
  margin-bottom: 25px;
  margin-top: 8px;
}

.THIS .btnMitoyenne img {
  width: 68px;
  height: 36px;
  margin-bottom: 24px;
  margin-top: 8px;
}

.THIS .btnNone img {
  width: 46px;
  height: 35px;
  margin-bottom: 13px;
}

.THIS .btnNone .txtBtn {
  width: 122px;
  margin: auto;
}

/* Label */
.THIS label {
	height: 116px;
	width: 250px;
	padding-top: 19px;
}