.THIS {
}

/* Sidebar Styles */
.THIS.sidebar-wrapper {
    position: relative;
    /* min-height: 100%; */
    width: 300px;
    margin: 0;
    padding: 0;
    border: solid 1px rgba(151, 151, 151, 0.2);
    border-top: 0;
}

/* navigation */
.THIS .sidebar-nav {
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.THIS .sidebar-nav:not(.helpSection) {
    padding-bottom: 170px;
}
.THIS .sidebar-nav li {
    height: 50px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.THIS .sidebar-nav li a {
    margin-left: 35px;
    display: block;
    font-family: HouschkaPro-Medium;
    font-size: 18px;
    line-height: 50px;
    color: #3f3830;
    color: var(--greyish-brown);
}
.THIS .sidebar-nav li a.active {
    font-family: HouschkaPro-Bold;
    border-right: 4px solid;
    border-color: #fe5815;
    border-color: var(--brand-color);
}
.THIS .sidebar-nav li a,
.THIS .sidebar-nav li a:active,
.THIS .sidebar-nav li a:focus,
.THIS .sidebar-nav li a:hover {
    text-decoration: none;
}
.THIS .sidebar-nav li:last-child {
    border-bottom: 0;
}
.THIS .sidebar-nav:not(.helpSection) li:last-child a {
    color: #b5b6b7;
    color: var(--cool-grey-two);
    text-decoration: underline;
}

/* help section */
.THIS .sidebar-nav.helpSection {
    position: relative;
    width: 298px;
    /*border: solid 1px rgba(151, 151, 151, 0.2);*/
}
.THIS .sidebar-nav.helpSection .leftMenuHelpItemBigger {
    height: auto;
    padding-bottom: 8px;
}
.THIS .sidebar-nav.helpSection li {
    height: 40px;
    background-color: #f7fbfe;
    background-color: var(--duck-egg-blue);
}
.THIS .sidebar-nav.helpSection li.firstHelpElement {
    background-color: #ffffff;
}
.THIS .sidebar-nav.helpSection .leftMenuHelpItem .leftMenuTitle {
    font-family: HouschkaPro-Bold;
    font-size: 20px;
    line-height: 40px;
}
.THIS .sidebar-nav.helpSection .leftMenuHelpItem .leftMenuSubTitle {
    font-family: HouschkaPro-Bold;
    font-size: 16px;
    line-height: 40px;
    color: #fe5815;
    color: var(--brand-color);
}
.THIS .sidebar-nav.helpSection .leftMenuHelpItem .leftMenuContent {
    font-family: HouschkaPro-Medium;
    font-size: 14px;
    line-height: 22px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
/**************mbegg***************/
.THIS .sidebar-nav li.myHome{
    padding-left: 35px;
    padding-right: 0;
    display: block;
    font-family: HouschkaPro-Medium;
    font-size: 18px;
    line-height: 50px;
    color: #b5b6b7;
    background-color: #f4f7f9;
    height: 50px;
}
.THIS .sidebar-nav li.myHomeUp{
    padding-left: 35px;
    height: 100px;
    padding-right: 0;
    display: block;
    font-family: HouschkaPro-Medium;
    font-size: 18px;
    line-height: 50px;
    color: #b5b6b7;
    background-color: #f4f7f9;
}
.THIS .sidebar-nav li.myHomeList{
    padding-left: 0px;
}
.THIS .sidebar-nav li.myHome .town{
    color: #000000 !important;
    display: inline;
    text-decoration: none !important;
    margin-right: 10px;
}
.THIS .sidebar-nav li.myHomeUp .town{
    color: #000000 !important;
    display: inline;
    text-decoration: none !important;
    margin-right: 10px;
}
.THIS .sidebar-nav li.myHome .toggleButton{
    float: right;
    position: relative;
    top: 23px;
    width: 6.3px;
    height: 6.3px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: solid 2px #fe5815;
    border: solid 2px var(--brand-color);
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin: 0px;
    display: inline-block;
}
.THIS .sidebar-nav li.myHomeUp .toggleButton{
    float: right;
    position: relative;
    top: 23px;
    width: 6.3px;
    height: 6.3px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border: solid 2px #fe5815;
    border: solid 2px var(--brand-color);
    border-bottom-width: 0px;
    border-right-width: 0px;
    margin: 0px;
    display: inline-block;
}
/*toggleCss.css*/
.THIS .sidebar-nav li.myHome .glyphicon {
    font-size: 14px;
}
.THIS .sidebar-nav li.myHomeUp .glyphicon {
    font-size: 14px;
}
.THIS .sidebar-nav .toggle {
    display: none;
}
.THIS .navbar-collapse {
	padding: 0;
}
.THIS .navbar-toggle .icon-bar {
	background-color: #fe5815;
	background-color: var(--brand-color);
    width: 25px;
    height: 3px;
}
.THIS .navbar-toggle .glyphicon {
	color: #fe5815;
    color: var(--brand-color);
}
.THIS .navbar-toggle .glyphicon.glyphicon-chevron-up {
	display: block;
}
.THIS .navbar-toggle.collapsed .glyphicon.glyphicon-chevron-up {
	display: none;
}
.THIS .navbar-toggle.collapsed .glyphicon.glyphicon-chevron-down {
	display: block;
}
.THIS .navbar-toggle .glyphicon.glyphicon-chevron-down {
	display: none;
}

.THIS .navbar-toggle {
	padding: 9px 20px;
	margin-right: 0;
}
.THIS .town:before {
	content: " ";
}

/* responsive */
@media only screen and (max-width : 767px) {
	.THIS {
    	float: none;
	}
	.THIS, .THIS .sidebar-nav {
	    width: 100%;
	}
	.THIS.sidebar-wrapper {
	    width: 100%;
	    border: 0;
	}
	.THIS .sidebar-nav:not(.helpSection) {
		padding-bottom: 0;
	}
	.THIS .sidebar-nav.helpSection {
	    display: none;
	}

	.THIS .sidebar-nav li a.active {
	    border: 0;
	}
	.THIS .sidebar-nav li.currentElementSelected, .THIS .sidebar-nav li.currentElementSelected a, .THIS .sidebar-nav li.currentElementSelected button {
		display: inline-block;
	}
	.THIS .sidebar-nav li.currentElementSelected {
		width: 100%;
	}
	.THIS .sidebar-nav li.smlHide {
		display: none;
	}
	.THIS .sidebar-nav li.myHome{
	    padding-left: 20px;
	}
    .THIS .sidebar-nav li.myHomeUp{
        padding-left: 20px;
    }
	.THIS .sidebar-nav li a {
		margin-left: 20px;
	}
	/* .THIS .sidebar-nav.helpSection {
		display: none;
	} */
}
@media only screen and (min-width : 768px) {
	.THIS .sidebar-nav li.currentElementSelected {
		display: none;
	}
	.THIS .sidebar-nav li.myHome .navbar-toggle{
		display: inline-block;
	}
    .THIS .sidebar-nav li.myHomeUp .navbar-toggle{
        display: inline-block;
    }
	/* .THIS .sidebar-nav.helpSection {
		display: block;
	} */
}