.THIS {
}

.THIS.page {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.THIS .arrow, .THIS .titleBlock, .THIS .centralBlock {
  text-align: center;
}

.THIS .arrow {
  margin-top: 30px;
}

.THIS .arrow img {
  width: 34px;
}

.THIS .titleBlock {
  margin-top: 70px;
  margin-bottom: 55px;
}

.THIS .titleBlock h2 {
  font-family: HouschkaPro-DemiBold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.17;
  text-align: center;
  color: #3f3830;
}

.THIS .underTitle {
  font-family: HouschkaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  text-align: center;
  color: #99999a;
}

/*buttons*/
.THIS label {
  margin-bottom: 30px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgba(0,0,0,0);
  vertical-align: top;
}

.THIS input[type="checkbox"]:checked+label, .THIS input[type="radio"]:checked+label {
    background-color: rgba(121, 168, 233, 0.08) !important;
    border: solid 1px #7aa8e9 !important;
}

.THIS input[type=checkbox], .THIS input[type=radio]{
  display: none;
}
 
.THIS input[type=radio]{
  display: none;
}
  
.THIS .txtBtn {
  font-family: HouschkaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-align: center;
  color: #3f3830;
}

/*button validate*/
.THIS .btnValidate {
  width: 125px;
  height: 42px;
  border-radius: 100px;
  background-color: #fe5815;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}
.THIS .btnValidate.btnValidateDisabledTemp { 
  background-color: #747474!important; 
}
.THIS a {
  text-decoration: none !important;
}
.THIS input[type="text"] {
  border: none; 
  height: 34px;
  padding-bottom: 5px;
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #6f6361;
  width: 60px; 
  outline: none !important;
}
.THIS .uiInputPhone.inputNumberLarge, .THIS input[type=text].builtDateInput {
  margin-bottom: 85px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #fe5815;
  width: 180px;
  padding-bottom: 5px;
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  outline: none !important;
}
.THIS input[type=text].builtDateInput {
	height: auto;
	color: inherit;
}
.THIS .errorContainer {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.THIS button:focus {
  outline: none !important;
}
@media (max-width: 800px){
  .THIS.page {
    padding-left: 0px;
    padding-right: 0px;
  }

  .THIS label, .THIS span {
    width: 130px;
  }

  .THIS .arrow {
    display: none;
  }

  .THIS .titleBlock h2{
    margin-top: -60px;
    font-size: 26px;
  }

  .THIS .centralBlock h3{
    font-size: 16px;
  }

  .THIS .txtBtn {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-align: center;
    color: #3f3830;
  }
}