.THIS {}

.THIS .whiteBlock {
    /*min-height: 269px;*/
    background-color: #f7fbfe;
    background-color: var(--duck-egg-blue);
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7; 
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
.THIS.whiteBlockButton {
    height: 40px; 
    background-color: #f7fbfe;
    background-color: var(--duck-egg-blue);
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    border-top: none;
    padding-top: 5px;
    white-space: nowrap;
}
.THIS .spacer {
	min-height: 70px;
}
.THIS.offer1Container .offerLabel {
	color: #3a699e;
}
.THIS.offer2Container .offerLabel {
	color: #0f8e78;
}
.THIS.offer3Container .offerLabel {
	color: #ff4a00;
}
.THIS.offer4Container .offerLabel {
	color: #ff4a00;
}
.THIS.offer5Container .offerLabel {
	color: #7aa8e9;
}
.THIS.offer6Container .offerLabel {
	color: #5c3caf;
}

.THIS.offer5Container .whiteBlock, 
.THIS.offer6Container .whiteBlock {
	padding-top: 25px;
	padding-bottom: 60px;
}
.THIS.offer5Container .whiteBlock {
	background-color: #7aa8e9;	
}
.THIS.offer6Container .whiteBlock {
	background-color: #9071ea;	
}
.THIS .backgroundContainer {
	background: red;
	padding-left: 15px;
	padding-right: 15px;
}
.THIS .emptyBlock {
	min-height: 25px;
}
.THIS .backgroundBlock {
    width: 50%;
    height: calc(85% - 48px);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background-repeat: no-repeat;
}
.THIS .blueBlock {
    background: linear-gradient(45deg, #7aa8e9, #00eaff 50%, #a3ffff); 
}
.THIS .greenBlock {
	background-image: linear-gradient(41deg, #00ceaa, #6af248 50%, #e0ff46);
}
.THIS .orangeBlock {
	background-image: linear-gradient(48deg, #fe5815, #ffcd00 50%, #fff62c);
} 
.THIS .shadowBlock {
	width: 15%;
}
.THIS .shadowBlockLeft {
	float: left;
}
.THIS .shadowBlockRight {
	float: right;
}
.THIS .noOffer {
	padding-bottom: 58px;
    padding-top: 20px;
}

.THIS .subscriptionsContainer {
    display: table;
    /*width: 71%;*/
    width: inherit;
    margin: auto;
    margin-bottom: 0;
}

.THIS .subscriptionsContainer img {
    max-width: 15%;
    height: auto;
    vertical-align: bottom;
    z-index: 10;
    position: relative;
}

.THIS .img_logo {}

.THIS .img_Offers_station {
    /* width: 45.2px;  */
    /* height: 140.4px; */
}

.THIS .subscriptionsContainer img .img_Offers_GAZ {
    /* width: 59.6px; */
    /* height: 77.1px; */
    background-color: #d9e0e6;
    vertical-align: middle;
}

.THIS .subscriptionsContainer img.img_Offers_thermostat {
    margin-bottom: -3px; 
}

.THIS .img_Offers_thermostat {
    width: 91.6px;
    height: 90.6px;
}

.THIS .subscriptionsContainer img.img_Offers_sowee {
    max-width: 100%;
}

.THIS .labelContainer {
    font-family: HouschkaPro-Medium;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal; 
    color: #b5b6b7;
    color: var(--cool-grey-two);
    text-align: center;
    background-color: #f7fbfe;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.THIS .offerLabel {
    /*height: 80px;*/
    font-family: HouschkaPro-Medium;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal; 
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    vertical-align: bottom;
    line-height: 1;
}
 

h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
    text-transform: uppercase;
}

.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}

.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}

@media (max-width: 384px) {
	.THIS .offerLabel {
		font-size: 0.95em;
	}
}