.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 36%;
  height: 2px;
  background-color: #fe5815;
}      
  
/* Label */
.THIS label {
  width: 250px;
  height: 118px;
}

.THIS .btnWindow img {
  width: 34px;
  height: 36px;
  margin-top: 29px;
  margin-bottom: 20px;
}

.THIS .btnWalls img {
  width: 40px;
  height: 50px;
  margin-top: 22px;
  margin-bottom: 13px;
}

.THIS .btnRoof img {
  width: 57px;
  height: 34px;
  margin-top: 30px;
  margin-bottom: 22px;
}

.THIS .btnNone .txtBtn {
  vertical-align: middle;
  width: 160px;
  margin: auto;
  margin-top: 31px;
} 


@media (max-width: 800px) { 
  .THIS .btnNone .txtBtn {
  	width: 113px;
  }
}